<nav class="navbar navbar-expand-lg" style="background-color: white">
  <a
    class="navbar-brand"
    style="color: green; font-weight: bold; padding-left: 10px"
    >Web Help Desk Application</a
  >
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="color: green" routerLink="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="color: green" routerLink="/ticket">Ticket</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="color: green" routerLink="/employee"
          >Employee</a
        >
      </li>
    </ul>
  </div>
  <div>
    <img src="assets/images/exist.png" alt="" />
  </div>
</nav>
